<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>jtomyx Query Server</display-name>
    <servlet>
        <servlet-name>Select</servlet-name>
        <servlet-class>com.aol.jtomyx.servlet.JtomyxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>/select/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>/raw/*</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
              <servlet-name>jsp</servlet-name>
              <url-pattern>*.jsp</url-pattern>
              <url-pattern>*.xsl</url-pattern>
      </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
